html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

#main-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

#external-events {
  position: fixed;
  z-index: 2;
  top: 20px;
  left: 20px;
  width: 250px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #111522;
  color: #fff;
}

#external-events .fc-event {
  margin: 1em 0;
  cursor: move;
}

#calendar-container {
  position: relative;
  z-index: 1;
  margin-left: 150px;
  top: 5px;
}

#calendar {
  max-width: 900px;
  margin: 40px auto;
}
